* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

#container {
    width: 70%;
    margin: 2rem auto;
    font-size: 1.8rem;
}

h1 {
    color: blue;
    font-family: cursive;
    text-align: center;
}

#bienvenu {
    margin-top: 1rem;
    text-align: center;
    color: gray;
    font-family: fantasy;
    letter-spacing: 0.2rem;
}

.css, .html {
    margin: 4rem 0;
}

.css h3, .html h3 {
    color: blue;
    font-family: cursive;
    margin-bottom: 2.5rem;
    margin-left: 1.5rem;
}

.css{
    width: 48%;
    display: inline-block;
}

.css ul, .html ul{
   list-style-type: none;
}

.html {
    vertical-align: top;
    width: 49%;
    display: inline-block;
}

ul li {
    margin-bottom: 1.5rem ;
}

a {
    color: rgb(72, 72, 206);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 97);
    text-decoration: none;
}