* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
}

#calculatrice{
    background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    animation: animationContour infinite 5s;
}

#resultat{
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    font-size: 25px;
}

.clavier{
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 80px);
    margin: 5px;
    grid-gap: 4px;
}

.bouton{
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    font-size: 2rem;
}

.bouton:active{
    background-image: linear-gradient(to bottom, #fff1eb 0%, #ace0f9 100%);
}

.ope{
    background-image: radial-gradient(circle 30px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}

.ope:active{
    background-image: radial-gradient(circle 45px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}

#copy{
    grid-column: span 4;
    padding: 1rem;
}

@media screen and (max-width: 500px){
    html{
        background-color: #30c7ec;
    }

    body{
        align-items: flex-start;
        background-repeat: no-repeat;
        height: 0;
    }

    #calculatrice{
        width: 100%;
        height: 0;
        animation: none;
    }

    #resultat{
        height: initial;
    }

    .clavier{
        grid-template-columns: repeat(4, 23vw);
        grid-template-rows: repeat(5, 15vh);
        margin-left: auto;
        margin-right: auto;
        grid-gap: 0;
    }
}

@keyframes animationContour {
    0%{
        box-shadow: 0 0 8px 1px blue;
    }

    33%{
        box-shadow: 0 0 8px 1px cyan;
    }

    66%{
        box-shadow: 0 0 8px 1px darkcyan;
    }

    100%{
        box-shadow: 0 0 8px 1px blue;
    }
}